<!DOCTYPE html>
<html>
<head>
	<title></title>

	<style>
		#search-results tr:hover {
			background-color: lightgray;
			cursor: pointer;
		}
	</style>
</head>
<body>
	<form id="search-form" method="post" onsubmit="return false">
		<input type="text" name="search" />
		<input type="submit" value="search" onclick="submitSearch()" />
	</form>

	<table width="100%">
		<thead>
			<tr style="text-align: left">
				<th widht="40%">Title</th>
				<th widht="30%">Author</th>
				<th widht="10%">Year</th>
				<th widht="20%">ID</th>
			</tr>
		</thead>
		<tbody id="search-results"></tbody>
	</table>
</body>

 <script type="text/javascript" src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
<script>
	function submitSearch() {
		$.ajax({
			url:"/search",
			method: "POST",
			data: $("#search-form").serialize(),
			success: function(rawData) {
				let parsed = JSON.parse(rawData)

				if (!parsed) return;

				let searchResults = $("#search-results");
				searchResults.empty()

				// looping throw the results
				parsed.forEach(function(result) {
					 let row = $("<tr><td>" + result.Title + "</td><td>" + result.Author + "</td><td>" + result.Year +  "</td><td>" + result.ID + "</td></tr>");
             		 searchResults.append(row);

             		 // adding a click event for each row
             		 row.on('click', function() {
             		 	console.log(result.ID)
             		 	// adding a call back funciotn 
             		 	$.ajax({
             		 		url: '/books/add?id=' + result.ID,
             		 		method: 'GET'
             		 	});
             		 });
				});
			}
		})

		return false;
	}
</script>
</html>