<!DOCTYPE html>
<html>
<head>
	<title></title>
	 <!-- we haven't learned to serve files yet ... -->
    <link rel="stylesheet" href="public/main.css">
</head>
<body>
	<!-- header tempalte -->
	{{template "header"}}

	{{template "svgs"}}

	
	<p>{{template "polarbear" }}</p>

	<div id="atf">
	    <main>
	        <svg class="icon icon-big-in">
	            <use xlink:href="#inbox"></use>
	        </svg>
	        <h3>{{.FirstName}} have {{.DoubleAge}} years old</h3>
	        <h4>Year of birth {{.Age | .YearBirth}}</h4>
	    </main>
	</div>

	<footer>
		{{template "footer"}}
	</footer>
